<!DOCTYPE html>
<html>
<head>
    <title>2FA Setup</title>
</head>
<body>
    <h1>Scan this QR Code with Google Authenticator</h1>
    <img src="<%= qrCodeDataUrl %>" alt="QR Code" />
</body>
</html>
